@media screen and (max-width: 800px) {
  .nav-bar {
    line-height: 80px;
  }

  .nav-bar ul li {
    width: 40%;
  }

  .left-column{
      font-size: 6px;
  }

  .center-column a {
    font-size: 10px;
  }

  .right-column{
    font-size: 6px;
  }
}
