body {
  background-color: #F1F2F4;
  margin: 0;
}

a{
  color: black;
}

h1 {
  text-align: center;
}

header {
  overflow: auto;
  background: url("http://orbisagro.com.ua/images/1.jpg?123123") no-repeat;
  background-color: #CCC;
  color: white;
}

header h3::selection {
  background: transparent;
}
header h3 {
  font-size: 50px;
  text-align: center;
  min-height: 790px;
  line-height: 600px;
}

.wrapper {
  margin: 100px 10% 0 10%;
  padding-bottom: 200px;
}

.columns {
  display: flex;
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  opacity: 0.6;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 80px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
}

.left-column{
  width: 20%;
  order: 1;
}

.center-column{
  flex: 1;
  order: 2;
}

.right-column{
  width: 20%;
  order: 3;
  font-size: 15px;
}
