<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./css/style_change_size.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./css/shop_trash.css" media="screen" />
    <link rel=" stylesheet" type="text/css" href="./css/print.css" media="print">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>orbisagro</title>
  </head>
  <body>
    <header class="hide-from-printer">
      <nav class="navbar navbar-expand-sm fixed-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="http://orbisagro.com.ua/images/logo.png?123123" class="d-inline-block align-top" alt="">
            </a>
          </li>
          <li class="nav-item"><a class="nav-link display-4" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link display-4" href="#">Store</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
         <li class="nav-item">
           <button class="btn aml-auto order-lg-last display-4" id="open_trash">
             <i class="fa fa-trash" style="font-size:36px; color:#08F; padding-top:18px" id="count_of_shop_items">{{counter}}</i>
           </button>
         </li>
         <li class="nav-item"><a class="nav-link display-4" href="#">Call</a></li>
        </ul>
      </nav>
      <h3>
        Працюємо в режимі 24/7
      </h3>
    </header>

    <div class="wrapper">
      <div class="row" id="goods">
        <div class="list-group d-inline mx-auto" id="list-tab" role="tablist" >
          <a v-for="item in goods_list" v-bind:class="'list-group-item list-group-item-action d-inline p-4 mr-2 ' + item.activeted "
             v-bind:id="'list-' + item.name + '-list'" data-toggle="list" v-bind:href="'#list-' + item.name"
            role="tab" v-bind:aria-controls="item.name">{{item.name_ukr}}
          </a>
        </div>
        <div class="tab-content w-100 mt-5">
          <div v-for="item in goods_list" v-bind:class="'tab-pane fade' + item.show" v-bind:id="'list-' + item.name"
            role="tabpanel" v-bind:aria-labelledby="'list-' + item.name + '-list'">
            <div v-for="goods in item.goods_list" class="card m-2 float-left" style="width: 18rem;">
              <img class="card-img-top min-vw-50" style="height:280px;" v-bind:src="goods.img" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="height:40px;">{{goods.name}}</h5>
                <div class="card-text" style="height:25px;">
                  <del v-if="goods.last_price != goods.now_price">{{goods.last_price}}</del>
                </div>
                <div class="card-text" style="height:25px;">
                  {{goods.now_price}}
                </div>
                <button type="button" name="button" class="btn btn-primary hide-from-printer" v-on:click="addToTrash(goods);">Купити</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="columns">
        <div class="left-column">
          <p>
            Kostyantyn Molodenkov
          </p>
        </div>
        <div class="center-column">
          <a href='https://mail.google.com/mail/?view=cm&fs=1&to=molodenkovkos@gmail.com&su=&body=&bcc='>
            <p>
              molodenkovkos@gmail.com
            </p>
          </a>
        </div>
        <div class="right-column">
          <p>
            +38 067 963 97 45
          </p>
        </div>
      </footer>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div v-if="buy.length === 0">
          <h1>Виберіть товари, які хочете купити, щоб вони відобразились в кошику</h1>

        </div>
        <div v-else class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Зображення</th>
                <th scope="col">Ціна з ПДВ</th>
                <th scope="col">Кількість</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="buy.length !== 0" v-for="(item, index) in buy">
                <th scope="row">{{index + 1}}</th>
                <td class="w-25">{{item.name}}</td>
                <td><img style="width:100px; height:100px;" v-bind:src="item.img" alt="Card image cap"></td>
                <td>{{item.now_price}}</td>
                <td>
                  <button class="btn" v-on:click="addOne(index)"><i class="fa fa-plus"></i></button>
                  {{item.item_in_trash}}
                  <button class="btn" v-on:click="minusOne(index)"><i class="fa fa-minus"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">Сума:</th>
                <td></td>
                <td></td>
                <td>{{totalPrice}}</td>
                <td><button class="btn" v-on:click="buyGoods()">Купити</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="./js/index.js"></script>
    <script src="./js/shop_trash.js"></script>
  </body>
</html>
